<div class="container md-2">
  <div class="card">
    <div class="card-body">
      <span class="h3">Liste des Demandes</span>
      
    <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th scope="col">Nom Demandeur</th>
            <th scope="col">Téléphone</th>
            <th scope="col">La date de location</th>
            <th scope="col">Date début de la journée</th>
            <th scope="col">Date fin de la journée</th>
          
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let locationMateriel of locationMateriels">
            <td>{{ locationMateriel.payload.doc.data().nomDemandeur}}</td>
            <td >{{ locationMateriel.payload.doc.data().telephone}}</td>
            <td >{{ locationMateriel.payload.doc.data().dateDemander}}</td>
            <td>{{ locationMateriel.payload.doc.data().dateDebut}}</td>
            <td>{{ locationMateriel.payload.doc.data().prixTotals}}</td>
            <td>
              <i class="fas fa-edit fa-lg text-info mr-2"></i> 
              <i class="fas fa-trash-alt fa-lg text-danger"></i>
            </td>
          </tr>
       
        </tbody>
      </table>
      </div>
    </div>
</div>